@model IEnumerable<WebApplication5.Models.Product>


<div class="row">
    @foreach (var i in Model)
    {
        if(i.id >10)
        {
            break;
        }
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
                <img class="img-fluid" src="~/Images/@i.img" alt="" style="height: 248px; width:auto">
                <div class="p-4">
                    <div class="d-flex justify-content-between mb-3">
                        <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>@i.position</small>
                        <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>@i.dateStay</small>
                        <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>@i.numberOfCustomer</small>
                    </div>
                    <a class="h5 text-decoration-none" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;  line-clamp: 2; -webkit-box-orient: vertical; " href="">@i.namePackage</a>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex justify-content-between">
                            <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>@i.star</h6>
                            <h5 class="m-0">@i.price</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>