@model IEnumerable<WebApplication5.Models.News>
@using WebApplication5.Help
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="container pt-4 px-4">
    <div class="row">
        <div class="col-sm-12 col-xl-12 col-md-12">
            <div class="bg-light rounded h-100 p-4">
                @Html.ActionLink(HttpUtility.HtmlDecode("Tạo mới &#43;"), "Create", null, new { @class = "btn btn-primary" })
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Hình
                            </th>
                            <th>
                                Hiển thị
                            </th>
                            <th>
                                Vị trí
                            </th>
                            <th>
                                Ngày cập nhật
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var num = 1;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(num++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nameNews)
                                </td>
                                <td>
                                    <img src="~/Images/@item.imgNews" width="50px" />
                                </td>
                                <td>
                                    @(item.hide == true ? "Hiển thị" : "Ẩn")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.order)
                                </td>
                                <td>
                                    <!--Html.DisplayFor(modelItem => item.datebegin)-->
                                    @(item.datebegin.HasValue ? item.datebegin.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                                <td>
                                    @Html.NoEncodeActionLink("<span class='fa fa-wrench'></span>", "Edit", "Edit", "News", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-secondary btn-block" })
                                    <br />
                                    <br />
                                    @Html.NoEncodeActionLink("<span class='fa fa-search'></span>", "Detail", "Details", "News", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                                    <br />
                                    <br />
                                    @Html.NoEncodeActionLink("<span class='fa fa-trash'></span>", "Delete", "Delete", "News", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
